@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de inventarios</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <img src="https://www.medinaylinarescontadores.com/noticias/wp-content/uploads/2019/08/Inventario-de-perdida.png" alt="Alternate Text" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Quienes somos</h2>
        <p>
            Un Sistena de Inventario que facilitará las labores de reabastecimiento del almacén. 
            Estableciendo cuanta cantidad de producto se debe pedir en cada momento para mantener 
            una rotación constante.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        
    </div>
    <div class="col-md-4">
        <h2>Mision</h2>
        <p>
            controlar los Inventario es el mecanismo dentro de una empresa que se utiliza para la 
            gestión eficiente de la circulación y almacenamiento de las mercancías y del flujo 
            de información relacionado.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            Ser una empresa especializada en suministrar Sistemas de Inventarios ofreciendo la mas 
            alta calidad y en excelente estado garantizando siempre un buen estandar de calidad

        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>